{{ $schedule := $.Site.Data.schedule.schedule}}
{{ $events := $.Site.Data.events.events}}

<a href="{{.Site.BaseURL}}/files/SoMPGR2025_schedule.png" download><button>Download this schedule</button></a>
<br/>
<br/>
<table class="timetable">
    <thead>
        {{ range $schedule.headings }}
        <th>{{ . }}</th>
        {{ end }}
    </thead>
    <tbody>
        {{ range $row_index, $row := $schedule.rows }}
        <tr style="height: {{math.Mul 6 ((index $row 0).size | default 1)}}ex">
            {{ range $col_index, $data := $row }}
                {{ if $data.id }}
                  {{ $event:= index $events $data.id }}
            <td id="{{ $data.id }}-tab" class="{{ $event.type }}">
                <a href="#{{ $data.id }}-list">{{ $event.display }}</a>
                {{ else if eq $data.special "poster" }}
            <td id="poster-tab" class="social">
                    <a href="#poster-list">{{ $data.display }}</a>
                {{ else }}
            <td class="{{ $data.type }}">
                    {{ $data.display }}
                {{ end }}
            </td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>

<br>
<h4>Locations:</h4>
<p>
    <ul>
        <li>All breakfasts, lunches and breaks are in <strong>[RR]</strong> Reading Room, School of Maths Level 9</li>
        <li>All talks are in the <strong>MALL</strong>, School of Maths Level 8</li>
        <li>The quiz social is in <strong>[MRD]</strong> Maths Research Deck, EC Stoner Level 9 (opposite Maths Reception)</li>
    </ul>
</p>

<p>* Posters will also be on display during the breaks</p>